:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

*{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}

.grid{
    width: 1600px;
    max-width: calc(100% - 80px);
    margin: 0 auto;
}

.grid__full{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
   margin-left: -8px;
   margin-right: -8px;
}

.grid__column-4{
    width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    
}

.grid__column-3{
    width: 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
}

.grid__center{
    display: flex;
    margin: 0 auto;
}

.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: move ease 0.3s;
}

@keyframes move{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

.modal-container{
    max-width: 570px;
    background-color: #fff;
    border-radius: 12px;
    animation: runMove ease 0.6s;
}

@keyframes runMove{
    from{
        transform: translateY(400px);
    }
    to{
        transform: translateY(0);

    }
}
